<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="margin: 0px; line-height: 0px;">
    <div style="width: max-content;">
        <form action="/login" method="post" style="background: bisque; margin: 0px; padding: 0px;">
            <p style="display: inline-block; margin: 0px;">Username: <input type="text" name="username" /></p>
            <p style="display: inline-block; margin: 0px;">Password: <input type="password" name="password" /></p>
            <p style="display: inline-block; margin: 0px;">Remember me: <input type="checkbox" name="remember-me" /></p>
            <input type="submit" value="Log in" />
        </form>
    </div>
</body>
</html>