<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note removing page</title>
</head>
<body style="margin: 0px;">

<div style="padding: 0 40px; width: 340px; background: #f0ffff; padding-bottom: 20px;">
    <h3 style="display: inline-block; width: 100%; text-align: center; padding: 10px 0px;">Note removing</h3>
    <p style="font-size: larger">Are you sure you want to delete this note?</p>
    <p><b>Title:</b> <span th:text="${note.title}"></span></p>
    <p><b>Description:</b><br /><span th:text="${note.description}"></span></p>
    <form action="/notes/delete" method="post">
        <input name="id" type="hidden" th:value="${note.id}" />
        <p style="text-align: right;"><input type="submit" value="Remove" /></p>
    </form>
</div>

</body>
</html>