<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
</head>
<body style="margin: 0; text-align: center;">
<div th:if="${param.error}" th:text="${error}" style="font-size: large; margin: 10px; border-style: solid; border-width: 1px; padding: 15px 25px; background: #ffe6e6;"></div>
<div style="display: inline-block; margin-top: 10px; border-style: solid; border-width: 1px; border-color: black; padding: 50px 120px 50px 120px; text-align: left; background: #f0ffff;">
<h2 style="position: relative; bottom: 15px;">Registration form:</h2>
<form action="/register" method="post">
  <p style="width: 265px;">Username: <input type="text" name="username" style="width: 170px" /></p>
  <p style="width: 265px;">Password: <input type="password" name="password" style="width: 170px; position: relative; left: 2px;" /></p>
  <p style="width: 265px;">Email: <input type="text" name="email" style="width: 170px; position: relative; left: 25px;" /></p>
  <input type="submit" value="Register" style="width: 250px;" />
</form>
</div>
</body>
</html>